



<div class="main-loan-main">

    <mat-card class="card-content" matRipple
    >
      <mat-card-content>
        <p>Loan Calculators</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-content"
    matRipple>
      <mat-card-content >
        <p>Payment Estimates</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-content"
    matRipple>
      <mat-card-content >
        <p>Interest Rate Comparisons</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-content"
    matRipple>
      <mat-card-content >
        <p>Charts and Data</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-content"
    matRipple>
      <mat-card-content >
        <p>Clients</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-content"
    matRipple>
      <mat-card-content >
        <p>Strategy</p>
      </mat-card-content>
    </mat-card>

</div>